#form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: beige;
  padding: 20px;
  border: 10px;
  gap: 20px;
}

#submit-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  color: white;
}
